.TabelaProdutos table{
    width: 100%;
}
.TabelaProdutos th{
    background-color: rgb(35, 67, 155);
    color: #fff;
}

.TabelaProdutos .Par {
    background-color: #ddd;
}
.TabelaProdutos .Impar {
    background-color: #ccc;
}